* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", serif;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.Navbar__S1__Title{
    color: blueviolet;
}
.Navbar__S2{
    width: 60%;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.Navbar__S2 input{
    width: 100%;
    border: none;
    background-color: transparent;
}
.Navbar__S2 input:focus{
    outline: none;
}
.Navbar__S3{
    display: flex;
    gap: 10px;
}

.MyLearning{
position: relative;
cursor: pointer;
}
.MyLearning__Popup{
    position: absolute;
    padding: 10px;
    border: black solid 1px;
    background-color: white;
    top: 150%;
    width: 100%;
    right: 0%;
    display: none;
}

.MyLearning:hover .MyLearning__Popup{
    display: block;
}



.Categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom:  solid black 1px;
    padding: 10px;
}
.Categories p{
    background-color: #6D28D2;
    padding: 10px;
    border-bottom: solid black 1px;
    color: white;
    border-radius: 30px;  
    cursor: pointer; 
}

.Categories p:hover{
    transition: 1s;
    background-color: transparent;
color: #6D28D2;
border: solid #6D28D2 1px;
}

.Section_Main{
    position: relative;
}

.Section_Main__Sale{
    position: absolute;
    width: 30%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    top: 10%;
    left: 10%;
border-radius: 5px;
    animation-name: Zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes Zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

.Section_Main img{
    width: 100%;
}
.Coursecard{
    width: 250px;
}
.Coursecard img{
    width: 100%;
    cursor: pointer;
}
.Recomended_Container{
    width: 100%;
flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.Recomended_Courses{
    width: 100%;
}
.Recomended_Courses h1{
    margin-bottom: 10px;
}
.Recomended_Courses P{
    margin-bottom: 10px;
}
.Topic__Title p{
    border: solid black 1px;
padding: 10px;
margin: 10px;
flex-grow: 1;
flex-basis: 25%;
}
.Topic__Title{
display: flex;
flex-wrap: wrap;

}
.Footer{
background-color: black;
color:white
}
.Footer__one{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
.Footer__two{
    display: flex;
    justify-content: space-between;
}
.Footer__one p{
margin: 20px;

}


